<div>
	<h1>
		{{recipe.name}}
	</h1>
	<div>
		<h3>
			Overview
		</h3>
		<hr>

		<div class="row">
			<div class="small-3 columns">
				<label>Style:</label>
			</div>
			<div class="small-9 columns">
				<input type="text" ng-model="recipe.style">
			</div>
		</div>

        <div class="row">
            <div class="small-3 columns">
                <label>Batch Size:</label>
            </div>
            <div class="small-9 columns">
                <input type="text" ng-model="recipe.batchSize">
            </div>
        </div>

		<div class="row">
			<div class="small-3 columns">
				<label>Expected Original Gravity:</label>
			</div>
			<div class="small-9 columns">
				<input type="text" disabled ng-model="recipe.og">
			</div>
		</div>

		<div class="row">
			<div class="small-3 columns">
				<label>ABV:</label>
			</div>
			<div class="small-9 columns">
				<input type="text" disabled ng-model="recipe.abv">
			</div>
		</div>

		<div class="row">
			<div class="small-3 columns">
				<label>IBU (Tins):</label>
			</div>
			<div class="small-9 columns">
				<input type="text" disabled ng-model="recipe.ibu">
			</div>
		</div>

		<div class="row">
			<div class="small-3 columns">
				<label>Bitterness to Gravity Ratio:</label>
			</div>
			<div class="small-9 columns">
				<input type="text" disabled ng-model="recipe.bitternessGravityRatio">
			</div>
		</div>

		<div class="row">
			<div class="small-3 columns">
				<label>Color (EBC):</label>
			</div>
			<div class="small-9 columns">
				<input type="text" disabled ng-model="recipe.color">
			</div>
		</div>

		<div class="row">
			<div class="small-3 columns">
				<label>Link:</label>
			</div>
			<div class="small-9 columns">
				<input type="text" disabled ng-model="recipe.link">
			</div>
		</div>

		<div class="row">
			<div class="small-3 columns">
				<label>Credits:</label>
			</div>
			<div class="small-9 columns">
				<input type="text" disabled ng-model="recipe.credits">
			</div>
		</div>
	</div>
	
	<div>
		<h3>
			Grain Bill
		</h3>
		<hr>

		<div class="row">
			<div class="small-9 columns">
				<label>This recipe require an Original Gravity of:</label>
			</div>
			<div class="small-3 columns">
				<input type="text" ng-model="recipe.og">
			</div>
		</div>

		<div class="row">
			<table class="small-12 columns">
				<tr>
					<th>Grain Name</th>
					<th>EBC</th>
					<th>SRM</th>
					<th>Grams</th>
					<th>%</th>
				</tr>

				<tr ng-repeat="grain in recipe.grains">
					<td>
						<input type="text" ng-model="grain.name">
					</td>
					<td>
						<input type="text" ng-model="grain.ebc">
					</td>
					<td>
						<input type="text" ng-model="grain.srm" disabled>
					</td>
					<td>
						<input type="text" ng-model="grain.grams">
					</td>
					<td>
						<input type="text" ng-model="grain.percent" disabled>
					</td>
					<td>
						<button ng-click="deleteGrain()" class="button">
							Remove Grain
						</button>
					</td>
				</tr>
			</table>
		</div>	

		<button ng-click="insertGrain()" class="button">
			Add Grain
		</button>
	</div>


	<div>
		<h3>
			Hop Bill
		</h3>
		<hr>

        <div class="row">
            <table class="small-12 columns">
                <tr>
                    <th>Name</th>
                    <th>Form</th>
                    <th>Method</th>
                    <th>AA%</th>
                    <th>Mins</th>
                    <th>Grams</th>
                </tr>

                <tr ng-repeat="hop in recipe.hops">
                    <td>
                        <input type="text" ng-model="hop.name">
                    </td>
                    <td>
                        <input type="text" ng-model="hop.form">
                    </td>
                    <td>
                        <input type="text" ng-model="hop.method" disabled>
                    </td>
                    <td>
                        <input type="text" ng-model="hop.aa">
                    </td>
                    <td>
                        <input type="text" ng-model="hop.mins" disabled>
                    </td>
                    <td>
                        <input type="text" ng-model="hop.grams" disabled>
                    </td>
                    <td>
                        <button ng-click="deleteHop()" class="button">
                            Remove Hop
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <button ng-click="insertHop()" class="button">
			Add Hop
		</button>
	</div>


    <div>
        <h3>
            Miscellaneous
        </h3>
        <hr>

        <div class="row">
            <table class="small-12 columns">
                <tr>
                    <th>Ingredient</th>
                    <th>Amount</th>
                    <th>Stage</th>
                    <th>Mins</th>
                    <th>Reason</th>
                </tr>

                <tr ng-repeat="hop in recipe.hops">
                    <td>
                        <input type="text" ng-model="misc.name">
                    </td>
                    <td>
                        <input type="text" ng-model="misc.amount">
                    </td>
                    <td>
                        <input type="text" ng-model="misc.stage">
                    </td>
                    <td>
                        <input type="text" ng-model="misc.mins">
                    </td>
                    <td>
                        <input type="text" ng-model="misc.reason">
                    </td>

                    <td>
                        <button ng-click="deleteMisc()" class="button">
                            Remove Misc
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <button ng-click="insertMisc()" class="button">
            Add Misc
        </button>
    </div>

	<button ng-click="putRecipe()" class="button">
		Save Recipe
	</button>
</div>

